service cloud.firestore {
  match /databases/{database}/documents {
    match /articles/{article} {
      allow delete, create, write: if request.auth.uid == "hRMJWOW20dgfmkcykDSuwFnGH5i1";
      allow read;
    }
    match /notifications/{notification} {
    	allow read;
    }
    match /users/{userId} {
    	allow create, read;
      allow write: if request.auth.uid == userId;
    }
  }
}
